@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(135deg, #d6d8f0 0%, #fce3e2 30%, #f9f6ef 60%, #d3e3f7 100%);
  color: #1e1e1e;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  
}
